<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <title>MySNS</title>
    <meta charset="UTF-8">
    <meta name="_csrf_header" content="${_csrf.headerName}" />
    <meta name="_csrf" content="${_csrf.token}" />
    <link rel="stylesheet" type="text/css" href="/css/list.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jua&display=swap" rel="stylesheet">
    <script src="/js/common.js"></script>
    <script type="text/javascript">


    </script>
</head>
<body>
<div class="wrap" style="width: 1500px">
    <header>
        <!-- action 속성 디폴트 값은 해당 페이지 호출할때와 같은 방식으로 처리 -->
        <form action="/home/show" method="get" class="d-flex mb-4" id="frm">
            <input type="hidden" id="page" name="page" value="0">
            <div class="col-4">
                <span class="display-4 font-weight-bold"><a href="/home/show?page=0" class="text-secondary" style="text-decoration: none;">KIMSTAGRAM</a></span>
            </div>
            <div class="col-6">
                <div class="h-100 d-flex align-items-end">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="searchWord" name="searchWord">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary font_style">검색</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </header>


    <nav class="bg-secondary" style="border-radius: 5px;">
        <ul class="nav nav-fill h-100 align-items-center">
            <li class="nav-item"><a href="/home/show?page=0" class="text-light font_style" style="text-decoration: none;">Home</a></li>
            <li class="nav-item"><a href="/home/new" class="text-light font_style" style="text-decoration: none;">New</a></li>
            <li class="nav-item"><a href="/home/follow" class="text-light font_style" style="text-decoration: none;">Follow</a></li>
            <li class="nav-item"><a href="/home/mypage" class="text-light font_style" style="text-decoration: none;">MyPage</a></li>
        </ul>
    </nav>
    <section class="d-flex">
        <aside>
            <div class="bg-secondary mt-3 p-3"
                 style="width: 250px; height: 450px; border-radius: 5px; margin-right: 30px">
                <h5 class="font_style mb-4">
                    안녕하세요<br th:text="${nick}+'('+${name}+')님'">
                </h5>
                <img th:src="'/upload/'+${profileImg}" alt="프로필 사진" style="width: 220px; height:250px;" class="mb-5">
                <div class="d-flex">
                    <a href="/home/profile"><button class="btn font_style" type="button" style="width: 130px;">Profile</button></a>
                    <button class="ml-2 btn font_style" type="button" onclick="logOut()" style="width: 80px;">Logout</button>
                </div>
            </div>
        </aside>










        <article style="height: 1000px;">
            <table border="1">
                <thead>
                <tr>
                    <th>사진</th>
                    <th>닉네임-이름</th>
                    <th>버튼</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member : ${memberList}">
                    <th:block th:if="${member.id} == ${myId}">
                        <td th:text="${member.profileImg}"></td>
                        <td th:text="${member.nick} + '-' + ${member.name}"></td>
                        <td><button class="btn" disabled>팔로우 불가</button></td>
                    </th:block>
                    <th:block th:unless="${member.id} == ${myId}">
                        <td th:text="${member.profileImg}"></td>
                        <td th:text="${member.nick} + '-' + ${member.name}"></td>
                        <td th:if="${member.followed}">
                            <button class="btn"><a th:href="@{/home/follow/del(follower=${member.id})}">팔로우 취소</a></button>
                        </td>
                        <td th:unless="${member.followed}">
                            <button class="btn"><a th:href="@{/home/follow/ins(follower=${member.id})}">팔로우</a></button>
                        </td>
                    </th:block>
                </tr>
                </tbody>
            </table>



        </article>
    </section>
</div>
</body>
</html>