<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head>
    <title>시작 화면</title>
    <meta charset="UTF-8">
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <meta name="_csrf" content="${_csrf.token}"/>
    <link rel="stylesheet" type="text/css" href="/css/list.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="/js/common.js"></script>
    <script type="text/javascript">

        function BTN_REG(){
            let title = $("#title1").val();
            let content = $("#content1").val();
            if(title == "" || title == null){
                alert("제목을 입력해주세요.");
                return;
            }
            if(content == "" || content == null){
                alert("내용을 입력해주세요.");
                return;
            }
            if(confirm('등록하시겠습니까?')){
                let form = $('#frm')[0];
                let params = new FormData(form);
                $.ajax({
                    url :"/home/new",
                    data : params,
                    datatype : 'json',
                    enctype: 'multipart/form-data',
                    type : "POST",
                    processData: false,
                    contentType: false,
                    success : function(result){
                        if(result == 'notFile'){
                            alert('이미지 파일이 존재 하지 않습니다.');
                        } else {
                            alert('저장 완료되었습니다.');
                            location.href="/home/show?page=0";
                        }
                    }
                });
            }
        }
        function BTN_REG2(){
            let title = $("#title2").val();
            let content = $("#content2").val();
            if(title == "" || title == null){
                alert("제목을 입력해주세요.");
                return;
            }
            if(content == "" || content == null){
                alert("내용을 입력해주세요.");
                return;
            }
            if(confirm('수정하시겠습니까?')){
                let form = $('#frm')[0];
                let params = new FormData(form);
                $.ajax({
                    url :"/home/modify",
                    data : params,
                    datatype : 'json',
                    enctype: 'multipart/form-data',
                    type : "POST",
                    processData: false,
                    contentType: false,
                    success : function(result){
                        if(result == 'notFile'){
                            alert('이미지 파일이 존재 하지 않습니다.');
                        } else {
                            alert('수정 완료되었습니다.');
                            location.href="/home/show?page=0";
                        }
                    }
                });
            }
        }
    </script>
</head>
<body>
<div class="wrap container">
    <header>
        <!-- action 속성 디폴트 값은 해당 페이지 호출할때와 같은 방식으로 처리 -->
        <form action="/home/show" method="get" class="d-flex mb-4">
            <input type="hidden" id="page" name="page" value="0">
            <div class="col-5">
                <span class="display-4 font-weight-bold text-primary no_line"><a href="/home/show?page=0" style="text-decoration: none;">KIMSTAGRAM</a></span>
            </div>
            <div class="col-7">
                <div class="h-100 d-flex align-items-center">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="searchWord" name="searchWord">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">검색</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </header>
    <nav class="bg-primary">
        <ul class="nav nav-fill h-100 align-items-center">
            <li class="nav-item"><a href="/home/show?page=0" class="text-dark no_line" style="text-decoration: none;">Home</a></li>
            <li class="nav-item"><a href="/home/new" class="text-dark no_line" style="text-decoration: none;">New</a></li>
            <li class="nav-item"><a href="/home/follow" class="text-dark no_line" style="text-decoration: none;">Follow</a></li>
            <li class="nav-item"><a href="/home/mypage" class="text-dark no_line" style="text-decoration: none;">MyPage</a></li>
        </ul>
    </nav>
    <section class="d-flex">
        <aside style="width: 150px;">
            <div class="bg-warning"
                 style="width: 150px; height: 150px; border-radius: 5px;">
                <h5>
                    안녕하세요 <br th:text="${nick}+'('+${name}+')님'">
                </h5>
                <br>
                <button class="btn" type="button" onclick="logOut()">Logout</button>
            </div>
        </aside>


        <article style="width: 900px; height: 1000px;"
                 class="bg-danger d-flex justify-content-center">
            <div class="ml-4 mt-4">
                <form action="" enctype="multipart/form-data"
                      class="d-flex" id="frm">
                    <div>
                        <div style="width: 200px; height: 300px; border: solid 1px;">
                            <img id="View" src="#" alt="이미지 미리보기" width="200px"
                                 height="300px"/>
                        </div>
                        <input type='file' id="file" name="file"/>
                    </div>
                    <th:block th:if="${content} == null">
                        <div>
                            <div>
                                <span class="font-weight-bold">제목<br></span><input
                                    type="text" name="title" id="title1">
                            </div>
                            <div>
                                <span class="font-weight-bold">글내용<br></span>
                                <textarea name="content" cols="30" rows="10" id="content1"></textarea>
                            </div>
                            <button class="btn" type="button" onclick="BTN_REG()">등록</button>
                            <a href="/home/show?page=0">
                                <button class="btn"
                                        type="button">취소
                                </button>
                            </a>
                        </div>
                    </th:block>
                    <th:block th:unless="${content} == null">
                        <div>
                            <input type="hidden" id="idx" name="idx" th:value="${content.idx}">
                        </div>
                        <div>
                            <div>
                                <span class="font-weight-bold">제목<br></span><input
                                    type="text" name="title" id="title2" th:value="${content.title}">
                            </div>
                            <div>
                                <span class="font-weight-bold">글내용<br></span>
                                <textarea name="content" cols="30" rows="10" id="content2" th:text="${content.content}"></textarea>
                            </div>
                            <button class="btn" type="button" onclick="BTN_REG2()">수정</button>
                            <a href="/home/show?page=0">
                                <button class="btn"
                                        type="button">취소
                                </button>
                            </a>
                        </div>
                    </th:block>
                </form>
            </div>
        </article>
    </section>
    <script src="http://madalla.kr/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#file").on('change', function () {
                readURL(this);
            });
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    $('#View').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <script>
        window.onload = () => {
            if (new URL(location.href).searchParams.get('noF')) {
                alert("파일이 존재하지 않습니다.");
            }
        };
    </script>
</div>
</body>
</html>




